@charset "utf-8";
/* CSS Document */

.accordion-wrapper {
	overflow:hidden;
	display:block;
	position:relative;
	display:inline-block;
}
.slide {
	overflow: hidden;
	display:block;
	-moz-box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
	-webkit-box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
	box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
	position:absolute;
	cursor: pointer;
	float:left;
	display: inline-block;
	zoom: 1;
	height: 600px !important;
}
.slide img {
	position:relative;
}
.caption {
	position:absolute;
	/*background:rgba(100, 100, 100, 0.4);*/
	padding:20px;
	left:0;
	background: -moz-linear-gradient(top,  rgba(100,94,94,.3) 0%, rgba(100,94,94,.5) 10%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(100,94,94,.3) 0%,rgba(100,94,94,.5) 10%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(100,94,94,.3) 0%,rgba(100,94,94,.5) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */


}
.caption p {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:12px;
	line-height:1.6;
}
.caption h1 {
	color:#CCC;
	font-size:16px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	margin-bottom:5px;
}
.caption a {
	text-decoration:none;
}
