
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  overflow-y: auto;
  height: calc(100% - 90px)!important;
  position: fixed;
}
/*tamaño del menu*/
  .navbar-header {
    background-color: #65534f;
    height: 90px;
    padding-top: 12px;
  }
  .navbar-inverse .navbar-toggle .icon-bar {/*fondo rayas boton menu*/
    background-color: #d8af98;
  }
  .navbar-toggle .icon-bar {/*rayas del boton menu*/
    display: block;
    width: 40px;
    height: 4px;
    margin-top: 6px !important;
    border-radius: 4px;
  }
  .navbar-inverse .navbar-toggle {/*bordes del boton*/
    border-color: transparent;
  }
  .navbar-toggle {/*cuerpo boton dem menu*/
    left: 10px;
    float: left;
    position: relative;
    margin-top: 8px;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
  }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {/*fondo boton oprimido*/
    background-color: transparent;
  }

  .navbar .navbar-nav {/*color de fondo menu desplegable*/
    width: 100%;
    background-color: rgba(68, 52, 49, 0.95);
    height: 600px;
    padding: 24px 0px;
  }
  .navbar .navbar-collapse {/*tamaño menu desplegable*/
    padding: 0;
    width: 70%;
    overflow: hidden;
    text-align: right;
    margin-top: 0px;
  }

  .modal-backdrop {
    background-color: transparent;
  }
  .close {
    float: right;
    font-size: 30px;
    font-weight: 100 !important;
    line-height: 1;
    color: #65534f;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
  }
  .size_popup{
    font-size: 15px;
  }
  .conf-menu {
    background-color: #65534f;
    color: #d8af98;
    height: 40px;
    position: relative;
    padding: 10px 0px;
    margin-top: -1px;
  }
  .btnMobile {
    border: 1px solid #d8af98;
    top: 24px;
    position: fixed;
  }

  /*.btnMobile {
    border: 1px solid #d8af98;
    top: 24px;
    position: fixed;
  }*/

  .navbar-header > button {
    margin: 6px 0 !important;
  }
  h3{
    color: #eeba8a;
    font-size: 24px;
    font-family: mooi_med;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .left{
    text-align: left;
  }
  .border_table_infopago{
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
  .title_table_infopago{
    font-size: 13px;
    text-align: center;
    color: white;
  }
  .p_table_infopago{
    font-size: 14px;
    text-align: center;
  }
  .bacTitle{
    background-color: #eeba8a !important;
    color: white !important;
  }
  .tyc_tabs{
    
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #555 !important;
    cursor: default !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-bottom-color: rgb(181, 179, 179) !important;
    border-bottom-width: 2px !important;
    border-top-color: transparent !important;
    border-top-width: 0px !important;
    border-left-width: inherit !important;
    border-right-width: inherit !important;
  }
  .Title_mooi{
    font-size: 24px;
    font-family: mooi_med;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .Color_mooi_ppl{
    color: #d8af98;
  }