.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

/*inicio de swicth toggle*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: -3px;
  bottom: 2px;
  background-color: #645e5e;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #efc196;
}

input:focus + .slider {
  box-shadow: 0 0 1px #efc196;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
   background-color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*Fin de swicth toogle*/


/*aclarando los disbled*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fbfbfb;
    opacity: 1;
}

@font-face {
    font-family: mooi_med;
    src: url(css/fonts/Brandon_med/brandon_med-webfont.ttf);
}

@font-face {
    font-family: mooi_light;
    src: url(css/fonts/Brandon_light.otf);
}

@font-face {
    font-family: mooi_reg;
    src: url(css/fonts/Brandon_reg.otf);
}

@font-face {
    font-family: mooi_titles;
    src: url(css/fonts/Brandon_reg.otf);
}

p {
    font-family: mooi_light;
    font-size: 17px;
}

h4 {
    font-size: 18px;
    font-family: mooi_med;
    color:#7b7b7b;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h4#novias {
    font-size: 26px;
}

.img_nav2 span {
    font-size: 34px;
    font-family: mooi_med;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

button h4 {
    color: white;
}

h1 {
    color: #EEBA8A;
    text-decoration: underline;
}

h2 {
    font-family: mooi_titles;
    color: #EEBA8A;
}

hr {
    float: left;
    width: 100%;
}

.servicios {
    text-align: center;
}

.space {
    margin-bottom: 65px;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #EEBA8A;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.open .dropdown-menu > li > a:focus,
.open .dropdown-menu > li > a:hover {
    background-color: rgb(138,130,130) !important;
    /*background-color: rgba(0, 0, 0, .5) !important;*/
}

.navbar-nav > li > a {
    padding: 2px 15px;
}

.navbar {
    border: none;
    min-height: inherit;
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    z-index: 10;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #EEBA8A;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.nav > li {
    margin-right: 0;
}

.nav h4 {
    font-size: 17px;
    color: #EEBA8A;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    border-color: #EEBA8A;
}

.responsive {
    display: none;
}

.session .dropdown-toggle h4 {
    margin: 0;
    font-size: 13px;
}

.session .dropdown-menu {
    left: auto;
    right: 0;
    width: 180px;
    position: absolute;
    /*	background-color : rgba(255,255,255,.9);
        background-color : rgba(100,94,94,1);*/
}

.dropdown-menu, #navbar {
    /*background-color: #ffffff;*/
    /*background-color: rgb(238, 186, 138);*/
}

.dropdown-menu h4 {
    color: #EEBA8A;
    font-size: 12px;
}

.open h4 {
    color: #EEBA8A;
}

.open .dropdown-menu {
    background-color: #eee !important;
}

.img_nav2 .navbar-header {
    /*margin-top: 20px;*/
    /*background-color: rgb(255, 255, 255);*/
    /*background-color: #645E5E;*/
    /*background-color: rgb(138,130,130);*/
    /*background-color: rgba(100,94,94,.8);*/
    /*background-color: rgba(0,0,0,.6);*/
}

/*.navbar-header > div, */
.navbar-header > button {
    margin: 5px 0 !important;
}

.navbar-header > div,
.navbar-header > div > a > img {
    width: 34px;
    height: 34px;
}

/* navbar center */
.navbar .navbar-nav {
    float: none;
    margin: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.navbar .navbar-collapse {
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#navbar > a {
    margin: 5px 50px 5px 0;
    display: inline-block;
    vertical-align: middle;
}

/* navbar center */
/*toogle*/
.navbar-inverse .navbar-toggle {
    border-color: transparent;
    background-color: #EEBA8A;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #EEBA8A;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #c1c1c1;
}

.navbar-toggle {
    left: 20px;
    float: left;
    position: relative;
    margin-top: 8px;
    border-radius: 0;
}

.dropdown-menu {
    border: none;
    padding: 0;
    text-align: center;
    border-radius: 0;
}

.dropdown .open {
    background-color: red;
}

/*toogle*/
/* template */
.gris, .gris h4 {
    color: #585858;
}

.center {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.center img,
.center div,
.center button,
.center input,
.center select,
.center textarea {
    margin-left: auto;
    margin-right: auto;
}

.checkbox, .radio {
    margin: 10px 0 !important;
}

.btn {
    border-radius: 0;
}

.btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #464041;
    border-color: transparent;
}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.btn-primary:active:focus {
    color: #fff;
    background-color: #464041;
    border-color: transparent;
}

/* footer */
.b.a {
    color: black;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/* login */
.container button h4 {
    color: white
}

.btn-color {
    background-color: #464041;
    border-color: transparent;
}
/*
.btn-color:hover {
    color: #fff;
    background-color: #EEBA8A;
    border-color: transparent;
}*/

.btn-color_2 {
    color: #fff;
    background-color: #EEBA8A;
    border-color: transparent;
}

.btn-color_2:hover {
    color: #fff;
    background-color: #464041;
    border-color: transparent;
}

#btn-enviar {
    min-width: 235px;
}

.btn-block {
    width: 60%;
    min-width: 130px;
}

/* login */
/* Style */
.accordion_style {
    /*  width: 100% !important;
      height: 600px !important;*/
    margin-bottom: -30px;
}

.slide h4 {
    color: white;
}

.btn-link:hover {
    color: transparent;
    text-decoration: none;
    background-color: transparent;
}

/* Style */
/* Services */
.service_makeup {
    width: 148px;
    height: 100px;
    background-position: -225px -5px;
    /*background: url(img/servicios/makeup_service.png?v01) no-repeat;*/
}

.service_makeup:hover {
    width: 148px;
    height: 100px;
    background-position: -5px -115px;
    /*background: url(img/servicios/maquillage_icon_servicios_hover.png?v01) no-repeat;*/
}

.service_nails {
    width: 100px;
    height: 100px;
    background-position: -163px -115px;
    /*background: url(img/servicios/nails_service.png?v01) no-repeat;*/
}

.service_nails:hover {
    width: 100px;
    height: 100px;
    background-position: -133px -385px;
    /*background: url(img/servicios/unas_icon_servicios_hover.png?v01) no-repeat;*/
}

.service_hair {
    width: 100px;
    height: 100px;
    background-position: -115px -5px;
    /*background: url(img/servicios/hair_service.png?v01) no-repeat;*/
}

.service_hair:hover {
    width: 100px;
    height: 100px;
    background-position: -5px -5px;
    /*background: url(img/servicios/cabello_icon_servicios_hover.png?v01) no-repeat;*/
}

.service_hair_removal {
    width: 100px;
    height: 100px;
    background-position: -115px -5px;
    /*background: url(img/servicios/hair_service.png?v01) no-repeat;*/
}

.service_hair_removal:hover {
    width: 100px;
    height: 100px;
    background-position: -5px -5px;
    /*background: url(img/servicios/cabello_icon_servicios_hover.png?v01) no-repeat;*/
}

/* Services */
/* Why Us */
.border_ {
    border-color: #e4e4e4;
    border-left: thin solid;
}

.cont_1 {
    height: 7em
}

.cont_2 {
    height: 15em
}

.cont_3 {
    height: 12em
}

.cont_4 {
    height: 9em
}

.cont_1 h2, .cont_2 h2, .cont_3 h2, .cont_4 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Why Us */

/* agenda */
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background: #EEBA8A !important;
    color: white !important;
}

.datepicker table tr td.day:hover:not(.disabled),
.datepicker table tr td.focused:not(.disabled) {
    background: #464041 !important;
    cursor: pointer;
    color: #ffffff !important;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: #bbb!important;
}

.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    background-color: #eeba8a !important;
}

.datepicker table tr td span.active.active {
    background-color: #464041 !important;
}

.datepicker table tr td span:hover, .datepicker table tr td span.focused {
    background: #eeba8a !important;
    color: white;
}

.prev {
    width: 0;
    border: none !important;
    cursor: pointer;
    margin: auto;
    padding: 18px !important;
    /*background: url(image/arrow.png) no-repeat;*/
}

.prev:hover, .next:hover {
    background-color: #f7f7f7;
}

.timepicker_wrap {
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.35) !important;
    background: white !important;
    border: none !important;
    top: 44px;
}

.time_element {
    width: auto;
}

/* agenda */

/* Fundación */
.fundacion{
    padding: 0px 60px;
}

.fundacion p{
    text-align: justify;
    color: white;
    font-size: 15px;
}

.fundacion h2{
    color: white;
    text-transform: uppercase;
}

.b_color{
    background-color: #645e5e;
}

/* Fundación */

/* how_work */
#how_work p {
    min-height: 73px;
}

.how_work_pad {
    padding: 0 40px;
}

.section {
    background-color: #f3f3f3;
}

.sprite_pasos_servicios{
    background-image: url(img/sprite_pasos_servicios.png?v01);
    background-repeat: no-repeat;
    display: block;
}

.how_work_one {
    width: 116px;
    height: 116px;
    background-position: -273px -115px;
    /*background: url(img/steps/paso_1_hover.png?v01) no-repeat;*/
}

.how_work_one:hover {
    width: 116px;
    height: 116px;
    background-position: -5px -241px;
    /*background: url(img/steps/paso_1_hover.png?v01) no-repeat;*/
}

.how_work_two {
    width: 116px;
    height: 116px;
    background-position: -133px -241px;
    /*background: url(img/steps/paso_2.png?v01) no-repeat;*/
}

.how_work_two:hover {
    width: 116px;
    height: 116px;
    background-position: -259px -241px;
    /*background: url(img/steps/paso_2_hover.png?v01) no-repeat;*/
}

.how_work_three {
    width: 116px;
    height: 116px;
    background-position: -399px -5px;
    /*background: url(img/steps/paso_3.png?v01) no-repeat;*/
}

.how_work_three:hover {
    width: 116px;
    height: 116px;
    background-position: -399px -131px;
    /*background: url(img/steps/paso_3_hover.png?v01) no-repeat;*/
}

.how_work_four {
    width: 116px;
    height: 116px;
    background-position: -387px -259px;
    /*background: url(img/steps/paso_4.png?v01) no-repeat;*/
}

.how_work_four:hover {
    width: 116px;
    height: 116px;
    background-position: -5px -385px;
    /*background: url(img/steps/paso_4_hover.png?v01) no-repeat;*/
}

/*Contador hacia atras*/

#countdown_container {
    font-size: 13px;
    width: 100%;
    height: 160px;
    background: transparent;
    padding: 10px;
}

.countdown_square_container {
    color: #e9be99;
    float: left;
}

.countdown_number { /*tabletas que contienen los numeros #e9be99*/
    -webkit-box-shadow: 0 5px 10px 0 #444;
    box-shadow: 0 5px 10px 0 #444;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #645e5e;
    width: 50px;
    height: 65px;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

.countdown_number_name {
    margin-top: 10px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
}

#countdown_toppart {
    height: 115px;
    width: 210px;
    margin: 0 auto;
}

#countdown_bottompart {
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px 0 #fff;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

/*Estrellas de calificacion*/
input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

label[for="radio1"], label[for="radio2"], label[for="radio3"], label[for="radio4"], label[for="radio5"]{
    color: grey;
    font-size: 35px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: orange;
}

label.col-md-4.control-label {
    color: gray;
}

input[type="radio"]:checked ~ label {
    color: orange;
}

/*Estrellas de calificacion*/

/*Alerts*/
.alert-danger,
.alert-info,
.alert-success {
    color: #777777;
    background-color: #f5f5f5;
    border-color: #cecece;
}

/*Alerts*/

/*Historial*/
input#submit,
input.submit {
    background-color: transparent;
    border-style: none;
    color: #EEBA8A;
}

/*Historial*/

/*=========== SLIDER ===========*/
.wrapper {
    width: 100%;
    height: 720px;
}

.accordion-wrapper .active .caption{
    bottom: 0px !important;
}

/*=========== BAR TOP ===========*/
.bar-top {
    float: left;
    height: 40px;
    font-size: 11px;
    /*background-color: #645e5e;*/
    /*background-color: rgb(138, 130, 130);*/
    /*background-color: #000; */
}

.row > .bar-top:nth-child(1) {
    width: 75px;
    padding: 8px 0 5px 20px;
    text-align: -webkit-left;
    text-align: -moz-left;
}

.row > .bar-top:nth-child(2) {
    width: calc(100% - 75px);
    padding: 10px 20px 5px 0;
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
}

a,
a:focus,
a:hover {
    color: #EEBA8A;
    text-decoration: none;
}

.img_nav {
    top: 0;
    left: 0;
    width: 100%;
    position : absolute;
}

.img_nav2 {
    top: 50%;
    right: 100px;
    color: #fff;
    width: 30%;
    position: absolute;
    min-width: 270px;
    margin-top: -146px;
}

.img_nav2 > h4 {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
}

.img_nav2 > p {
    margin-bottom: 20px;
}

/* template */
/* footer */
/*============ FOOTER ============*/
.footer span {
    font-size: 13px;
    font-family: mooi_med;
    /* color: #717171; */
    letter-spacing: 2px;
    text-transform: uppercase;
    float: left;
}
.footer,
#footer {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    background-color: #645e5e;
    padding: 30px 0px;
}

.footer div:nth-child(2) img {
    /*width: 40%;*/
    width: 145px;
    max-width: 150px;
}

.footer div:nth-child(3) img {
    width: 70%;
    max-width: 260px;
}

.footer p, #footer div {
    color: #ffffff;
    font-size: 15px;
    font-family: mooi_med;
}

.footer > div {
    padding: 10px;
    font-size: 11px;
}

.img_footer {
    width: 50%
}

.font_footer {
    color: white;
    font-size: 15px;
    font-family: mooi_reg;
}

.font_footer_2 {
    color: #EEBA8A;
    font-size: 17px;
    font-family: mooi_med;
    letter-spacing: 1px;
}

.foot_border {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

#footer {
    padding: 20px 10px 20px 0;
}

#footer > div {
    width: 100%;
    clear: both;
}

#footer a {
    padding: 0 10px 0 0;
    display: inline-block;
    white-space: nowrap;
}

.flexslider {
    border: none !important;
}

.flex-viewport {
    overflow: hidden;
    position: relative;
    height: auto;
}

.flex-control-nav {
    top: 20px;
    bottom: auto!important;
}

#accordion-wrapper > li {
    position: relative;
}

#accordion-wrapper > li > div {
    width: 100%;
    bottom: 0;
    position: absolute;
    margin-bottom: -2px;
    background: rgba(231,56,39,0);
    background: -moz-linear-gradient(top, rgba(231,56,39,0) 0%, rgba(255,255,255,0.45) 50%, rgba(255,255,255,.99) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,56,39,0)), color-stop(50%, rgba(255,255,255,0.99)), color-stop(100%, rgba(255,255,255,.99)));
    background: -webkit-linear-gradient(top, rgba(231,56,39,0) 0%, rgba(255,255,255,0.45) 50%, rgba(255,255,255,.99) 100%);
    background: -o-linear-gradient(top, rgba(231,56,39,0) 0%, rgba(255,255,255,0.45) 50%, rgba(255,255,255,.99) 100%);
    background: -ms-linear-gradient(top, rgba(231,56,39,0) 0%, rgba(255,255,255,0.45) 50%, rgba(255,255,255,.99) 100%);
    background: linear-gradient(to bottom, rgba(231,56,39,0) 0%, rgba(255,255,255,0.45) 50%, rgba(255,255,255,.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f85032', GradientType=0 );
    /*
    background: rgba(255, 255, 255, 0.4);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 10%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 10%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .5) 10%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645', GradientType=0);
    */
    /*
        background: rgba(100, 100, 100, 0.4);
        background: -moz-linear-gradient(top, rgba(100,94,94,.3) 0%, rgba(100,94,94,.5) 10%);
        background: -webkit-linear-gradient(top, rgba(100,94,94,.3) 0%,rgba(100,94,94,.5) 10%);
        background: linear-gradient(to bottom, rgba(100,94,94,.3) 0%,rgba(100,94,94,.5) 10%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
    */
}

#accordion-wrapper > li > div h4,
#accordion-wrapper > li > div p {
    color: #000;
    margin: 0;
    font-weight: bold;
}

#accordion-wrapper button {
    /*color: #FFF;*/
    padding: 5px;
    width: 100%;
    font-weight: bold;
/*    border-style: solid;
    border-color: #EEBA8A;*/
    border-width: 2px;
    background-color: transparent;
}

#accordion-wrapper button:hover {
    /*color: #fff;*/
    /*background-color: #EEBA8A;*/
    background-color: rgba(238,186,138, .3);
}
/*=========== BTN LOGIN MOVIL ===========*/
.btnMobile {
    top: 5px;
    right: 20px;
    height: 34px;
    border: 2px solid #EEBA8A;
    z-index: 30;
    padding: 8px 4px;
    display: none;
    position: absolute;
    min-width: 80px;
    max-width: 100px;
    text-align: center;
}

.btnMobile a {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
}

.btnMobile > a h4 {
    color: #EEBA8A;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.responsive {
    left: 50%;
    margin: 5px 0 5px -17px !important;
    position: absolute;
}

/*============ HACK FLECHAS INPUT NUMBER ============*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*=========== MEDIA QUERY ============*/

@media (max-width: 999px) {
    .navbar-collapse > a {
        display: none !important;
    }
}

@media (min-width: 768px) {

    .footer > div {
        /*height: 145px;*/
    }

    .footer > div:nth-child(3) img {
        margin-top: 30px;
    }

    .session .dropdown-menu{
        top: 18px;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-collapse {
        position: absolute;
    }

    .footer > div p {
        text-align: center;
    }

    .foot_border {
        border: none;
    }

    .session .dropdown-menu{
        top: 35px;
    }

    .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover {
        background-color: rgb(138, 130, 130);
    }
}

@media (min-width: 691px) {
    .btnMobile {
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    h4#historial {
    font-size: 10px !important;
    }
}

@media (min-width: 590px) and (max-width: 690px) {
    .btnMobile {
        max-width: 200px;
    }

    .img_nav2 {
        margin-top: -105px;
    }

    .img_nav2 > p {
        display: none;
    }

    .img_nav2 > span {
        font-size: 22px;
    }
}

@media (min-width: 419px) and (max-width: 589px) {
    .btnMobile {
        max-width: 150px;
    }

    .img_nav2 {
        margin-top: -72px;
        min-width: 190px;
        right: 40px;
    }

    .img_nav2 > a h4 {
        font-size: 14px;
    }

    .img_nav2 > a button {
        padding: 0;
    }

    .img_nav2 > h4 {
        font-size: 26px;
    }

    .img_nav2 > span {
        font-size: 18px;
    }

    .img_nav2 > p {
        display: none;
    }
}

@media (max-width: 418px) {

    .img_nav2 {
        margin-top: -40px;
        min-width: 130px;
        right: 10px;
    }


    .img_nav2 > a button {
        padding: 0;
    }

    .img_nav2 > h4,
    .img_nav2 > a h4,
    .img_nav2 > span {
        font-size: 11px;
    }

    .img_nav2 > p, .img_nav2 > hr {
        display: none;
    }
}

@media (max-width: 1000px ) {
    .navbar img.img-responsive {
        display: none;
    }

/*    .img_nav2 > span {
        font-size: 24px;
    }*/
}

@media (max-width: 767px ) {
    .bar-top {
        display: none;
    }

    .navbar .navbar-nav {
        width: 100%;
        background-color: white;
    }

    .space {
        margin-top: 40px;
    }

    .m {
        margin-bottom: 20px;
    }

    .responsive {
        display: inline-block;
    }

    .btnMobile {
        display: inline-block;
    }

    .header i.fa.fa-instagram.fa-lg, .header i.fa.fa-facebook.fa-lg {
        display: none;
    }

    .max {
        margin-top: 25px;
        margin-bottom: 7px;
        text-align: -webkit-center !important;
        text-align: -moz-center !important;
    }

    div#footer i.fa.fa-instagram.fa-lg, div#footer i.fa.fa-facebook.fa-lg {
        display: block;
    }
}

#aSel {
  position: relative;
}

#imgSel {
  position: absolute;
  left: 100%;
  top: 100%;
  display: none;
  height: 100px;
  width: 70px;
  z-index: 100;
  border: black 1px solid;
}

/*#aSel:hover #imgSel {
  display: block;
}*/


/*#aSel:active #imgSel {
  display: block;
}*/

.icon-delete-servicio{
float:left;
height:24px;
width:24px;
box-sizing: border-box;
/*background-image: url('image/icon/less.png');*/
background-repeat: no-repeat;
background-size:100%;
margin: 5px 6px 5px -30px;
}

.content-category{
overflow: hidden;
margin-top:5px;
}

.content-category select{
float:left;
margin-left: 6px;
width: calc(100% - 30px);
}

[data-estado="disabled"] .icon-delete-servicio{
visibility: hidden;
}

.view-services {
width: calc(100% - 20px);
}

@media screen and (min-width: 720px){
.view-services {
  width: 700px;
}
}