/* demo page styles */
body {
    background:#E7E6E6; /*#545150;/*Background general de la pagina*/
    margin:0;
    padding:0;
    font-family: "Brandon Grotesque","Adobe Garamond Pro","UVF NarzissDrops"; /*Fuente de la pagina*/
}

a:link, a:visited, a:-webkit-any-link   /*Modificacion de color y subrayado de links tanto normal como el de chrome y firefox*/
{   
 text-decoration:none !important;
 color: inherit;
}

a:hover   /*Modificacion de color y subrayado de links*/
{   
 /*font-color:#545150; */
 text-decoration: underline ; 
 color:#fff; /*#fff;*/
}

input[type=text], input[type=number], input[type=password],input[type=email],textarea{
    border-radius: 0;
    -webkit-appearance: none;
    overflow:auto; 
    border: 1px solid #545150;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

input:focus, textarea:focus {
  background   : #8f8c8a;
  border-radius: 5px 1px 5px 1px;
  outline      : none;
  color: #e9be99;

}

.item.active,
        .item.active + .item,
        .item.active + .item  + .item {
           width: 40%;
           display: block;
           float:left;
        } 

#imagenmenu.contaniner {
position: relative;
width: 96%;
max-width: 960px;
margin: 0 auto;
}
#imgmenu {
width: 100%;
height: auto;

}

#imgser {
width: 50%;
height: auto;

}

#imagenmenu2.contaniner {
position: absolute;
width: 96%;
max-width: 960px;
margin: 0 auto;
}

#submit {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 5px 1px 5px 1px;
    background: #545150;
}

#submit:hover {
    background: #e9be99;
}

.foot {/*estilo del DIV parte baja*/

    position:relative;
    background-color:#645e5e;
    width:100%;/*1330;*/
    height:300px;
    border:0px #645e5e solid;
    margin:1px auto;
    padding:30px;
    border-radius:15px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

}

/*footer de la pagina*/

#foot {
    background-color:#645e5e;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 1;
    left: 0px;
}
#footLinks {
    position: absolute;
    width: 100%;
    height: 53px;
    z-index: 5;
    left: 2px;
    top: 248px;
}
#footredessociales {
    position: absolute;
    width: 15%;
    height: 53px;
    z-index: 3;
    left: 80%;
    top: 0%;
}
#footlogomooi {
    position: absolute;
    width: 80%;
    height: auto;
    z-index: 4;
    top: 40px;
    left: 80%;
}
#footinfo {
    position: absolute;
    width: 70%;
    height: 95%;
    z-index: 2;
    left: 9px;
    top: 10px;
}
#footinfobog {
    position: absolute;
    width: 50%;
    height: 40px;
    z-index: 2;
}


/*Fin footer de la pagina*/



#navcenter{ /*Logo M en la mitad de la pagina*/

 float:left;
 left:25%;
 list-style-type:none;
 position:relative;

}

.menu {/*estilo del DIV en general*/

    position:absolute;
    background-color: transparent;
    left:5%;
    width:1280px;
    height:1px;
    border:0px #545150 solid;
    margin:1px auto;
    padding:40px;
    border-radius:15px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    z-index: 9999;
    font:bold "Brandon Grotesque";
    /*font-family:"Brandon Grotesque";*/

}

.dropdown-menu2 {
    min-height: 100px;
    z-index: 1000; 
}

/* main menu styles */

.nav,.nav ul {
    list-style:none;
    margin:0;
    padding:10px;
}

.nav {
    position:relative;
}

.navbar{
    min-height: 0px; 
    margin-bottom: 0px; 
}

.nav ul {/*Separacion entre en menu y el sub menu emergente*/
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:40px;
}

.nav li {
    float:left;
    position:relative;
}

.dropdown-menu2 li{
    float:left;
    position:relative;
}


.nav li a {
    -moz-transition:0.2s;
    -o-transition:0.2s;
    -webkit-transition:0.2s;
    background-color:transparent; /*#545150;*/
    border:1px solid transparent;/*#545150;*/
    color:#000;
    display:block;
    font-size:16px;
    line-height:35px;
    padding:5px 20px;
    text-decoration:none;
    transition:0.2s;
}

.nav li:hover > a {
    /*background:#e9be99;
    border-color:#e9be99;*/
    color:#e9be99;/*Color de la letra al pasar el mouse*/
    border-bottom: 3px solid #e9be99;/* raya bajo las letras al pasar el mouse*/
}

.nav li:hover ul.subs {
    height:auto;
    width:180px;
}

.nav ul li {
    -moz-transition:0.2s;
    -o-transition:0.2s;
    -webkit-transition:0.2s;
    opacity:0;
    transition:0.2s;
    width:100%;
}

.nav li ul li {
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}

.nav li:hover ul li {
    opacity:1;
    -moz-transition-delay:0.2s;
    -o-transition-delay:0.2s;
    -webkit-transition-delay:0.2s;
    transition-delay:0.2s;
}

.nav ul li a {
    /*background:#545150;
    border-color:#545150;*/
    color:#000;
    line-height:1px;
    -moz-transition:1s;
    -o-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}

.nav li:hover ul li a {
    line-height:35px;
}

.nav ul li a:hover {
   /* background:#e9be99;*/
    color:#e9be99;/*Color de la letra al pasar el mouse*/
    border-bottom: 3px solid #e9be99;/* raya bajo las letras al pasar el mouse*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}

#foot3 { /* informacion de mooi footer*/
float:left;
}

#foot4 {/* logo de mooi footer*/
float:left;
width:600px;
background:transparent;
}

/*estrellas de calificacion
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}*/

input[type="radio"] {
  display: none;
}

label{
    color: grey;
}

label[for="radio1"], label[for="radio2"],label[for="radio3"],label[for="radio4"],label[for="radio5"],  {
  color: grey;
  font-size: 60px;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

/*Contador hacia atras*/

#countdown_container{
font-size:13px;
width:100%;
height:160px;
background: transparent; 
top center no-repeat;
padding:10px;
}

.countdown_square_container{
color:#e9be99;
float:left;
}

.countdown_number{ /*tabletas que contienen los numeros #e9be99*/
-webkit-box-shadow:0px 5px 10px 0px #444;
box-shadow:0px 5px 10px 0px #444;
-webkit-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
background:#645e5e;
width:50px;
height:65px;
font-size:30px;
text-align:center;
padding-top:15px;}

.countdown_number_name{
margin-top:10px;
font-size:11px;
text-transform:uppercase;
text-align:center;
text-shadow:1px 1px 0px #fff;
}

#countdown_toppart{
height:115px;
width:210px;
margin:0px auto;
}

#countdown_bottompart{
text-align:center;
font-size:16px;
text-shadow:1px 1px 0px #fff;
max-height:100%;
max-width:100%;
overflow:hidden;
}

/* style para carousel*/
.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  background: #333;
  color: #ddd;
}

/* style para hover de carrusel*/

.carousel-caption { 
    background-color:rgb(255,255,255);
    opacity:0.1
}
.carousel-caption :hover{

    background-color:rgb(255,255,255);
    opacity: 0.9;
    position:absolute;
    font-color:#e9be99;

}
