@import nib

// color schema
$colorTitle = #eeba8a
$colorBtn = #ffffff
$bgFooter = #645e5e

@font-face
	font-family mooi_med
	src url(fonts/Brandon_med/brandon_med-webfont.ttf)

@font-face
	font-family mooi_light
	src url(fonts/Brandon_light.otf)

@font-face
	font-family mooi_reg
	src url(fonts/Brandon_reg.otf)

@font-face
	font-family mooi_titles
	src url(fonts/Brandon_reg.otf)

for num in (1..12)
	.col-lg-{num},
	.col-md-{num},
	.col-sm-{num},
	.col-xs-{num}
		position relative
		min-height 1px
		padding-right 0px
		padding-left 0px

/*
	The switch - the box around the slider
*/
.switch
	position relative
	display inline-block
	width 40px
	height 18px

	input
		display none

/*
	INSPIRATE
*/
.slider
	position absolute
	cursor pointer
	top 0
	left 0
	right 0
	bottom 0
	background-color #eeeeee
	transition .2s

	&:before
		position absolute
		content ""
		height 15px
		width 15px
		left -3px
		bottom 2px
		background-color #645e5e
		transition .2s

	.round
		border-radius 34px

		&:before
			border-radius 50%

input
	&:checked + .slider
		background-color #efc196

	&:focus + .slider
		box-shadow 0 0 1px #efc196

	&:checked + .slider:before
		transform translateX(26px)
		background-color $colorBtn

.flexslider
	border none !important

.flex-viewport
	overflow hidden
	position relative
	height auto

.flex-control-nav
	top 20px
	bottom auto !important

#accordion-wrapper
	> li
		position relative

		> div
			width 100%
			bottom 0
			position absolute
			margin-bottom -2px
			background rgba(231,56,39,0)
			background linear-gradient(to bottom, rgba(231,56,39,0) 0%, rgba(255,255,255,0.45) 50%, rgba(255,255,255,.99) 100%)

			h4,
			p
				color #000 !important
				margin 0
				font-weight bold

	button
		padding 5px
		width 43%
		border-style solid
		//border-color white
		margin-top 9px
		margin-bottom 15px
		font-weight bold
		border-width 2px
		color white
		//background-color transparent

		&:hover
			background-color rgba(135,139,140, .3)


/*aclarando los disbled*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	background-color #fbfbfb
	opacity 1

.img_nav2 span
	font-size 34px
	font-family mooi_med
	color $colorBtn
	letter-spacing 2px
	text-transform uppercase

button h4
	color $colorBtn

h1
	font-family mooi_titles
	color $colorTitle

h2
	color $colorTitle
	/*text-decoration underline*/

h4
	font-size 18px
	font-family mooi_med
	color #7b7b7b
	letter-spacing 2px
	text-transform uppercase

hr
	float left
	width 100%

p
	font-family mooi_light
	font-size 17px

	#novias
		font-size 26px

a
	color $colorTitle



.servicios
	text-align center

.space
	margin-bottom 65px


.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover
	color $colorTitle

.open .dropdown-menu > li > a:focus,
.open .dropdown-menu > li > a:hover
	background-color rgb(138,130,130) !important


/*
	navbar center
*/

#navbar > a
	margin 5px 50px 5px 0
	display inline-block
	vertical-align middle

.navbar
	border none
	min-height inherit
	margin-bottom 0

	.navbar-nav
		float none
		margin 0
		display inline-block
		text-align center
		vertical-align middle

	.navbar-collapse
		padding 0
		width 100%
		overflow hidden
		text-align center



.navbar-inverse
	background-color transparent
	border-color transparent
	z-index 10

	.navbar-nav
		> .active
			> a,
			> a:focus,
			> a:hover
				color $colorTitle
				background-color transparent

		> .open
			> a,
			> a:focus,
			> a:hover
				color $colorBtn
				background-color transparent

		> li > a
			padding 2px 15px

		&:focus,
		&:hover
			color $colorTitle

	.navbar-toggle
		&:focus,
		&:hover
			background-color $colorTitle

	.navbar-collapse,
	.navbar-form
		border-color #c1c1c1

.nav > li
	margin-right 0

.nav h4
	font-size 17px
	color $colorTitle

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover
	border-color $colorTitle

.responsive
	display none

.session .dropdown-toggle h4
	margin 0
	font-size 13px

.session .dropdown-menu
	left auto
	right 0
	width 180px
	position absolute

.dropdown-menu h4
	color $colorTitle
	font-size 12px

.open h4
	color $colorTitle

.open .dropdown-menu
	background-color #eee !important


.navbar-header > button
	margin 5px 0 !important

	> div,
	> div > a > img
		width 34px
		height 34px

/*toogle*/
.navbar-toggle
	left 20px
	float left
	position relative
	margin-top 8px
	border-radius 0
	border-color transparent
	background-color $colorTitle

.dropdown-menu
	border none
	padding 0
	text-align center
	border-radius 0

.dropdown .open
	background-color red

/*toogle*/
/* template */
.gris, .gris h4
	color #585858

.center
	text-align center

	img,
	div,
	button,
	input,
	select,
	textarea
		margin-left auto
		margin-right auto

.checkbox, .radio
	margin 10px 0 !important

.btn
	border-radius 0

.btn-primary:active, .btn-primary:focus
	color $colorBtn
	background-color #464041
	border-color transparent

.image
	position relative
	width 100% /* for IE 6 */

.btn-primary:active:focus
	color $colorBtn
	background-color #464041
	border-color transparent

/* footer */
.row
	margin-right 0
	margin-left 0

/*
	login
*/
.container button h4
	color $colorBtn

.btn-color
	background-color #464041
	border-color transparent

.btn-color_2
	color $colorBtn
	background-color $colorTitle
	border-color transparent

	&:hover
		color $colorBtn
		background-color #464041
		border-color transparent


#btn-enviar
	min-width 235px

.btn-block
	width 60%
	min-width 130px

/*
	Style
*/

.slide h4
	color $colorBtn

.btn-link:hover
	color transparent
	text-decoration none
	background-color transparent


/* Services */
/* Why Us */
.border_
	border-color #e4e4e4
	border-left thin solid

.cont_1
	height 7em

.cont_2
	height 15em

.cont_3
	height 12em

.cont_4
	height 9em

.cont_1 h2, .cont_2 h2, .cont_3 h2, .cont_4 h2
	position absolute
	top 50%
	left 50%
	margin-right -50%
	transform translate(-50%, -50%)

/* Why Us */

/*
	AGENDA
*/
.datepicker
	.datepicker-switch:hover,
	.prev:hover,
	.next:hover,
	tfoot tr th:hover
		background-color $colorTitle
		color $colorBtn

	table tr td
		.disabled,
		.disabled:hover
			color red

		&.active:active,
		&.active.highlighted:active,
		&.active.active,
		&.active.highlighted.active
			background-color $colorTitle

		span.active.active
			background-color #464041

			&:hover,
			.focused
				background $colorTitle
				color $colorBtn

		.day:hover:not(.disabled),
		.focused:not(.disabled)
			background #464041
			cursor pointer
			color $colorBtn

	.prev
		width 0
		border none
		cursor pointer
		margin auto
		padding 18px


.timepicker_wrap
	box-shadow 0 0 5px 0 rgba(50, 50, 50, 0.35)
	background $colorBtn
	border none
	top 44px

.time_element
	width auto

/* agenda */

/* Fundación */
.fundacion
	padding 0px 60px

.fundacion p
	text-align justify
	color $colorBtn
	font-size 15px

.fundacion h2
	color $colorBtn
	text-transform uppercase

.b_color
	background-color #645e5e


/*
	HOME
*/
.sprite_pasos_servicios
	background-image url(../img/sprite_pasos_serviciosB.png?v01)
	background-repeat no-repeat
	display block

iconsHome(hw, lt, br)
	w = hw
	h = hw

	if hw == 148px
		h = 100px

	width w
	height h
	background-position lt br


// service
.service_makeup
	iconsHome(118px, -517px, -5px)

	&:hover
		iconsHome(118px, -645px, -5px)

.service_nails
	iconsHome(118px, -1029px, -5px)

	&:hover
		iconsHome(118px, -1157px, -5px)

.service_hair
	iconsHome(118px, -261px, -5px)

	&:hover
		iconsHome(118px, -389px, -5px)

.service_hair_removal
	iconsHome(118px, -5px, -5px)

	&:hover
		iconsHome(118px, -133px, -5px)

.service_masaje
	iconsHome(118px, -773px, -5px)

	&:hover
		iconsHome(118px, -901px, -5px)

// how-work
#how_work p
	min-height 73px

.how_work_pad
	padding 0 40px

.section
	background-color #f3f3f3

.how_work_one
	iconsHome(116px, -1285px, -5px)

	&:hover
		iconsHome(116px, -1411px, -5px)

.how_work_two
	iconsHome(116px, -1539px, -5px)

	&:hover
		iconsHome(116px, -1665px, -5px)

.how_work_three
	iconsHome(116px, -1793px, -5px)

	&:hover
		iconsHome(116px, -1919px, -5px)

.how_work_four
	iconsHome(116px, -2047px, -5px)

	&:hover
		iconsHome(116px, -2173px, -5px)




/*Contador hacia atras*/
#countdown_container
	font-size 13px
	width 100%
	height 160px
	background transparent
	padding 10px

.countdown_square_container
	color #e9be99
	float left

.countdown_number  /*tabletas que contienen los numeros #e9be99*/
	box-shadow 0 5px 10px 0 #444
	border-radius 10px 10px 10px 10px
	background #645e5e
	width 50px
	height 65px
	font-size 30px
	text-align center
	padding-top 15px

.countdown_number_name
	margin-top 10px
	font-size 11px
	text-transform uppercase
	text-align center
	text-shadow 1px 1px 0 #fff

#countdown_toppart
	height 115px
	width 210px
	margin 0 auto

#countdown_bottompart
	text-align center
	font-size 16px
	text-shadow 1px 1px 0 #fff
	max-height 100%
	max-width 100%
	overflow hidden

/*Estrellas de calificacion*/



label
	color grey

	&[for="radio1"],
	&[for="radio2"],
	&[for="radio3"],
	&[for="radio4"],
	&[for="radio5"]
		color grey
		font-size 35px

	&:hover,
	&:hover ~ label
		color orange

	.col-md-4.control-label
		color gray

.clasificacion
	direction rtl
	unicode-bidi bidi-override


input
	&[type="radio"]
		display none
	&[type="radio"]:checked ~ label
		color orange

/*Estrellas de calificacion*/

/*Alerts*/
.alert-danger,
.alert-info,
.alert-success
	color #777777
	background-color #f5f5f5
	border-color #cecece

/*Historial*/
input#submit,
input.submit
	background-color transparent
	border-style none
	color $colorTitle

/*Historial*/

/*=========== SLIDER ===========*/
.wrapper
	width 100%
	height 720px

.accordion-wrapper .active .caption
	bottom 0px !important

/*=========== BAR TOP ===========*/
.bar-top
	float left
	height 40px
	font-size 11px

.row > .bar-top:nth-child(1)
	width 75px
	padding 8px 0 5px 20px
	text-align left

.row > .bar-top:nth-child(2)
	width calc(100% - 75px)
	padding 10px 20px 5px 0
	text-align right

a
	&:focus,
	&:hover
		color $colorTitle
		text-decoration none

.img_nav
	top 0
	left 0
	width 100%
	position  absolute

.img_nav2
	top 50%
	right 100px
	color #fff
	width 30%
	position absolute
	min-width 270px
	margin-top -146px

	> h4
		color $colorBtn
		font-size 36px
		text-transform uppercase


.img_nav2 > p
	margin-bottom 20px

/*
	FOOTER
*/
footer
	width 100%
	overflow hidden
	max-width 100%
	background-color $bgFooter
	padding 30px 0px

	span
		font-size 13px
		font-family mooi_med
		letter-spacing 2px
		text-transform uppercase
		float left

	div:nth-child(2) img
		width 145px
		max-width 150px

	div:nth-child(3) img
		width 70%
		max-width 260px

	p
		color $colorBtn
		font-size 15px
		font-family mooi_med

	> div
		padding 10px
		font-size 11px

.img_footer
	width 50%

.font_footer
	color $colorBtn
	font-size 15px
	font-family mooi_reg

.font_footer_2
	color $colorTitle
	font-size 17px
	font-family mooi_med
	letter-spacing 1px

.foot_border
	border-left 1px solid $colorBtn
	border-right 1px solid $colorBtn


/*=========== BTN LOGIN MOVIL ===========*/
.btnMobile
	top 5px
	right 20px
	height 34px
	border 2px solid $colorTitle
	z-index 30
	padding 8px 4px
	display none
	position absolute
	min-width 80px
	max-width 100px
	text-align center

	a
		width 100%
		display inline-block
		font-size 12px
		overflow hidden

	> a h4
		color $colorTitle
		overflow hidden
		white-space nowrap
		text-overflow ellipsis

.responsive
	left 50%
	margin 5px 0 5px -17px !important
	position absolute

/*============ HACK FLECHAS INPUT NUMBER ============*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
	-webkit-appearance none
	margin 0

input[type=number]
	-moz-appearance textfield

/*=========== MEDIA QUERY ============*/

@media (max-width 999px)
	.navbar-collapse > a
		display none !important


@media (min-width 768px)

	footer > div
		/*height 145px*/


	footer > div:nth-child(3) img
		margin-top 30px


	.session .dropdown-menu
		top 18px


@media (max-width 767px)
	.navbar .navbar-collapse
		position absolute


	footer > div p
		text-align center


	.foot_border
		border none


	.session .dropdown-menu
		top 35px


	.navbar-inverse .navbar-nav > li > a:focus,
	.navbar-inverse .navbar-nav > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-menu > li > a:hover
		background-color rgb(138, 130, 130)


@media (min-width 691px)
	.btnMobile
		max-width 300px


@media (max-width 600px)
	h4#historial
		font-size 10px !important


@media (min-width 590px) and (max-width 690px)
	.btnMobile
		max-width 200px

	.img_nav2
		margin-top -105px

		> p
			display none

		> span
			font-size 22px


@media (min-width 419px) and (max-width 589px)
	.btnMobile
		max-width 150px

	.img_nav2
		margin-top -72px
		min-width 190px
		right 40px

		> a h4
			font-size 14px

		> a button
			padding 0

		> h4
			font-size 26px

		> span
			font-size 18px

		> p
			display none


@media (max-width 418px)

	.img_nav2
		margin-top -40px
		min-width 130px
		right 10px

		> a button
			padding 0

		> h4,
		> a h4,
		> span
			font-size 11px

		> p,
		> hr
			display none

@media (max-width 1000px )
	.navbar img.img-responsive
		display none

@media (max-width 767px )
	.bar-top
		display none

	.navbar .navbar-nav
		width 100%
		background-color $colorBtn

	.space
		margin-top 40px

	.m
		margin-bottom 20px

	.responsive
		display inline-block

	.btnMobile
		display inline-block

	.header i.fa.fa-instagram.fa-lg, .header i.fa.fa-facebook.fa-lg
		display none

	.max
		margin-top 25px
		margin-bottom 7px
		text-align center !important

	div#footer i.fa.fa-instagram.fa-lg, div#footer i.fa.fa-facebook.fa-lg
		display block


#aSel
	position relative

#imgSel
	position absolute
	left 100%
	top 100%
	display none
	height 100px
	width 70px
	z-index 100
	border black 1px solid

.icon-delete-servicio
	float left
	height 24px
	width 24px
	box-sizing border-box
	background-repeat no-repeat
	background-size 100%
	margin 5px 6px 5px -30px

.content-category
	overflow hidden
	margin-top 5px

	select
		float left
		margin-left 6px
		width calc(100% - 30px)

[data-estado="disabled"] .icon-delete-servicio
	visibility hidden

.view-services
	width calc(100% - 20px)

@media screen and (min-width 720px)
	.view-services
		width 700px
